<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655197458944-lsq25jplu276q38nb43m7n9bopa6e8i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655197458944-lsq25jplu276q38nb43m7n9bopa6e8i8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655197458944-ofvf9ql0tdfh5oeg1hvt7v6qt6ko393q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0yjUomgxSdQ62AhNdc3yksC02BShN9So</string>
	<key>GCM_SENDER_ID</key>
	<string>655197458944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circle.opencircle</string>
	<key>PROJECT_ID</key>
	<string>circle-c701a</string>
	<key>STORAGE_BUCKET</key>
	<string>circle-c701a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655197458944:ios:784c470292f0df1e0c7ee5</string>
</dict>
</plist>